@model IAproject.Models.Review

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/tinymce/jquery.tinymce.min.js"></script>

<div>
    <h4>Menu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Menu.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Menu.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Menu.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Menu.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Menu.MenuPhoto)
        </dt>

        <dd>
            <img class="img-thumbnail" src='@Url.Content("~/Uploads/" + Model.Menu.MenuPhoto)' />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Menu.Carlorie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Menu.Carlorie)
        </dd>

    </dl>
</div>

<h2>Create</h2>
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Review</h4>
    <hr />

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.ReviewText, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ReviewText, new { htmlAttributes = new { @class = "form-control", @id = "mytextarea" } })
            @Html.ValidationMessageFor(model => model.ReviewText, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Stars, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Stars, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Stars, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

@ViewBag.test;


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
    tinymce.init({
        selector: 'mytextarea'
    })
    </script>
}
